.hd {
  margin-left: 0;
  margin-right: 0;
}

.title-container {
  padding-top: 10px;
}

.navbar-inverse {
  background-color: #373f46;
}

.nav-wrapper {
  display:flex;
  height:6rem;
  width:100%;
  justify-content:right;
  align-self: center;
}

.nav-lstcontainer{
  margin:0;
  padding:0;
  text-align:center;
  display:flex;
  justify-content: center;
  align-self: center;

}

.nav-lstcontainer li{
  display:inline-block;
  padding:0 10px;
  border-left:1px solid #E8F0F3;

}
