<!-- Start of Nav Bar -->
<div class="row hd" style="background-color:#fff;">
  <div class="col-md-9">
    <nav class="navbar">
      <div class="container">
        <!-- <ul class="header-comment">
            <li style="width:24rem;">
              متخصصون في الدراسات و البحوث و المؤتمرات و الندوات العلمية و الدولية و الحملات التوعوية
            </li>
            <li>
              د.علي سهيل تبوك الرئيس التنفيذي
            </li>
          </ul>
          <div class="gm-img">
            <img src="../assets/images/gm.png" style="max-width:50px;">
          </div> -->
      </div>
    </nav>
  </div>
  <div class="col-md-3 title-container">
    <img src="../assets/images/title.png" style="width:250px;">
  </div>
</div>
<!-- End of Nav Bar -->
