.hd {
  margin-left: 0;
  margin-right: 0;
}

.title-container {
  padding-top: 10px;
}

.navbar-inverse {
  background-color: #373f46;
}

.navbar {
  width: 35rem;
  text-align: right;
}

.header-comment {
  font-size: 1.2rem;
  list-style: none;
  float: left;
}

.gm-img {
  float: left;
}

.header-comment li {
  padding-right: 10px;
  color: #666b77;
}

.header-comment li span {
  color: #666b77;
}

