<div class="row">
  <div class="container footer-contents">
    <div class="col-md-3">
      <ul class="footer-comment">
        <li>
          <img src="../assets/images/title.png" style="width:200px;">
        </li>
      </ul>
    </div>
    <div class="col-md-5">
<p>
                   <br/>مركز الشرق الأوسط للاستشارات والدراسات      
                   
Middle East Center for
Consulting
& Studies                
<br>
Tel    : +968-23320000
Mop. : +968-96633322

Fax   : +968-23320002
<br>
E-mail : info@mecoman.net
<br>
E-mail :e.gov.om@hotmail.com
</p>
    </div>
    <div class="col-md-4">
      <ul class="footer-comment">
        <li>
          <img src="../assets/images/gm.png" style="max-width:50px;">
        </li>
        <li style="width:24rem;">
          متخصصون في الدراسات و البحوث و المؤتمرات و الندوات العلمية و الدولية و الحملات التوعوية
        </li>
        <li>
          <span>
             <br/> د.علي سهيل تبوك                
              الرئيس التنفيذي
          </span>
        </li>

      </ul>
    </div>
  </div>
</div>