<div class="pre-attendees-container">
  <div class="pre-attendees-title">
    <h2>
      الجهات التي شاركت في الندوات و المؤتمرات
    </h2>
  </div>
</div>
<div class="our-attendees">
  <!-- <div class="pre-work-events">
      <h2>أعمالنا السابقه</h2>
      <p>قائمه بالندوات و المؤتمرات التي أقمنها خلال الفترات السابقة و التي لاقت نجاح كبير و أستضفنها فيها مختلف الجهات الحكومية
        و المتخصصة من داخل السلطنة و من خارجها</p>
    </div> -->
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo1.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo2.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo4.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo5.png">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo6.jpg">

    </div>
  </div>

  <!-- <div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo7.jpeg">

  </div>
</div> -->
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo11.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo8.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo9.jpg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo10.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo12.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo13.jpg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo14.png">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo15.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo16.jpeg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo17.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo18.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo19.jpg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo20.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo21.gif">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo22.jpg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo31.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo24.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo25.jpg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo26.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo32.gif">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo27.jpeg">

    </div>
  </div>
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo28.jpeg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo29.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo30.jpg">

    </div>
  </div>

</div>
