/* Our Previous Work*/
.ourwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.ourwork {
  margin: 2rem 0 0 0;;
}

.pre-work-container {
  margin-top: 10rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.pre-work-container .pre-work-title {
  position: absolute;
  right: 0;
  top: 3px;
  background-color: #1893DA;
  min-width: 12rem;
}

.pre-work-container .pre-work-title h2 {
  text-align: right;
  color: #fff;
  font-size: 1.6rem;
  padding: 0 1rem;
}

.work-container {
  /*background-color:rgba(239, 240, 244,0.5);
  border:1px solid #e2e3e7;*/
  padding: 5px;
}

.work-details img {
  max-height: 100%;
  max-width: 100%;
}

.work-details a,
a:link {
  color: #222;
}

.work-details a:hover {
  color: #222;
  font-size: 1.4rem;
  transition: font-size 0.5s ease;
}

.work-details p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  text-align: center;
  color: #222;
  font-size: 1.2rem;
  background-color: #fff;
}

.w-img {
  max-width:100%;
  max-height:100%;
}

.more-pre-works{
  display:flex;
  justify-content:end;
  height:40px;
padding:5px;
border-bottom:1px solid #222;
}

.more-pre-works a:link a:focus a:active{
  color:#000;
  text-decoration:none;
}

.more-pre-works a:hover {
  color:rgb(16, 131, 193);
  font-weight:bold;
  text-decoration:none;
  font-size:1.6rem;

}


/* media queries */
@media only screen and (min-width: 414px) and (max-width: 735.97px) {
 .ourwork {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
 }

}

@media only screen and (min-width: 1200px){
  .w-img {
    width: 375px;
    height: 280px;
  }

}
@media only screen and (max-width: 413.97px) {
  .ourwork {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;

  }

}
