<div id="about-wrapper" class="container contents">
<div class="about-contents" dir="rtl">
  <h2>
   مركز الشرق الأوسط للاستشارات والدراسات الاجتماعية</h2> في سطور : " تأسس في تاريخ: 13 /6/2012م . "
  <br/><br/> أهداف المركز
  <br/><br/> -: يعمل المركز على تقديم الاستشارات لإنماء المجتمع العماني، وتمكين الحكومة الإلكترونية والإسهام في تأسيس مجتمع المعرفة عن
  طريق تبني إجراء مشروعات البحوث والدراسات الاجتماعية والتنموية. - يتطلع المركز أن يكون مصدر إشعاع معرفي وتنويري للمجتمع العماني
  لتقديم الاستشارات والدراسات بهدف تقديم حلول عملية لتنمية المجتمع من خلال بحوث علمية منهجية . - يتطلع المركز إلى التعاون مع
  الوزارات والمؤسسات المختلفة بالدولة في تقديم المشورة العلمية والفنية والمهنية، ويشمل ذلك دراسات الجدوى الاجتماعية وتقييم
  مشروعات التنمية، وإنجاز المشروعات التنموية، وخدمة المجتمع المحلي. " الندوات والمؤتمرات والحملات التي أقامها المركز :<br/><br/>
  1- ندوة بعنوان " أهمية تنمية الوعي المجتمعي نحو تقنية آمنة " بتاريخ 10 يوليو 2012م بجامعة ظفار والتي نظمها مع جمعية الاجتماعيين
  العمانية وكانت تحت رعاية سعادة / عبدالله بن عقيل آل ابراهيم المستشار بمكتب وزير الدولة ومحافظ ظفار . <br/><br/> 2- ندوة بعنوان
  " مساءلة الأحداث بين الواقع والطموح " بتاريخ 2 مارس 2013م بفندق كراون بلازا صلالة والتي كانت بالتعاون مع غرفة تجارة وصناعة
  عمان وكانت تحت رعاية معالي الشيخ / خالد بن عمر المرهون الموقر وزير الخدمة المدنية . <br/><br/> 3- الحملة الوطنية لمخاطر تقنية
  المعلومات والتي بدأت بتاريخ 7-10 ابريل 2013م بمحافظة ظفار والتي اختتمت تحت رعاية سعادة / سعود بن سالم البلوشي وكيل وزارة
  التربية والتعليم للتخطيط وتنمية الموارد البشرية بتاريخ 24 ابريل 2014م بالتعاون مع هيئة تقنية المعلومات ووزارة التربية والتعليم
  وجامعة السلطان قابوس. <br/><br/> 4- ندوة بعنوان " حماية المستهلك مسؤولية الجميع " بتاريخ 15 مايو 2013م بفندق كراون بلازا مسقط
  تحت رعاية معالي الشيخ / خالد بن عمر المرهون الموقر وزير الخدمة المدنية وبحضور سعادة الدكتور رئيس الهيئة العامة لحماية المستهلك
  . <br/><br/> 5- المؤتمر الدولي الأول " التجارة الإلكترونية آفاق وتحديات " بتاريخ 25-26 أغسطس 2013م والتي كانت بالتعاون مع غرفة
  تجارة وصناعة عمان بمحافظة ظفار تحت رعاية معالي الدكتور / رشيد بن الصافي الحريبي الموقر رئيس مجلس المناقصات وبحضور معالي الشيخ
  / خالد بن عمر المرهون الموقر وزير الخدمة المدنية . <br/><br/>
  6- ندوة بعنوان " المسؤولية الاجتماعية ودورها في تنمية المجتمع " بتاريخ 29 ديسمبر 2013م بالتعاون مع غرفة تجارة وصناعة عمان
  بمحافظة ظفار تحت رعاية سعادة المهندس / أحمد بن علي عبدالله العمري المستشار بمكتب وزير الدولة للشؤون الفنية وبحضور سعادة الشيخ
  والي ثمريت . <br/><br/> 7- ندوة بعنوان " الشباب العماني وريادة الأعمال " بالتعاون مع غرفة تجارة وصناعة عمان بمحافظة ظفار بتاريخ
  22 يونيو 2014م والتي أقيمت تحت رعاية معالي الدكتور / علي بن مسعود السنيدي الموقر وزير التجارة والصناعة . <br/><br/> 8- المؤتمر
  الدولي الثاني للتجارة الإلكترونية " التصديق الإلكتروني نحو عالم رقمي " بتاريخ 21-22 سبتمبر2014م والتي كانت بالتعاون مع غرفة
  تجارة وصناعة عمان بمحافظة ظفار والتي أقيمت تحت رعاية معالي الدكتور / أحمد بن محمد الفطيسي الموقر وزير النقل والاتصالات بفندق
  كراون بلازا صلالة . <br/><br/> 9- ندوة "ريسوت الاقتصاد والتنمية " بالتعاون مع غرفة تجارة وصناعة عمان بمحافظة ظفار بتاريخ 8 أبريل
  2015م بفندق كراون بلازا صلالة . <br/><br/> 10- ندوة "انتخابات مجلس الشورى ..واقع وتحديات" والتي أقيمت بتاريخ 15 أبريل 2015م بفندق
  كراون بلازا صلالة تحت رعاية سعادة الشيخ / خالد بن هلال المعولي رئيس مجلس الشورى . <br/><br/> 11- المؤتمر الدولي الثالث للتجارة
  الإلكترونية "مكافحة الجريمة المعلوماتية" بتاريخ 25-26 أغسطس 2015م تحت رعاية سعادة / عيسى بن حمد العزري وكيل وزارة العدل بفندق
  كراون بلازا صلالة . <br/><br/> 12- المشاركة في تنظيم ملتقى " حديث الموسم " السنوي الذي تنظمه جمعية الطلبة العمانيين بمدينة لندن
  بالمملكة المتحدة بتاريخ 18 مارس 2016م . <br/><br/> 13- المؤتمر الدولي الرابع للتجارة الإلكترونية حول " الدفع الإلكتروني "بتاريخ
  ٢٦-٢٧ يوليو ٢٠١٧م تحت رعاية معالي السيد/ محمد بن سلطان البوسعيدي وزير الدولة ومحافظ ظفار بفندق كراون بلازا صلالة . <br/><br/>
  14- المؤتمر الدولي حول " إدارة العدالة إلكترونيا " بالتعاون مع جمعية الإمارات للمحامين والقانونيين بتاريخ 24 - 25 أكتوبر
  2016م بإمارة أبوظبي - دولة الإمارات العربية المتحدة تحت رعاية صاحب السمو / منصور بن زايد آل نهيان نائب رئيس الوزراء وزير
  شؤون الرئاسة . <br/><br/>15- الحملة الوطنية للحماية من الابتزاز الإلكتروني تحت شعار "معاً ضد الابتزاز الإلكتروني " بالتعاون مع
  وزارة التربية والتعليم بتاريخ 9 نوفمبر 2016م والتي أقيمت تحت رعاية معالي الدكتورة / مديحة بنت أحمد الشيبانية وزيرة التربية
  والتعليم بمسرح الوزارة بالوطية واختتمت بتاريخ ١٩ أبريل ٢٠١٧م تحت رعاية سعادة /عبدالله بن عقيل آل إبراهيم المستشار بمكتب وزير
  الدولة ومحافظ ظفار . <br/><br/> 16- المشاركة في دعم أمسية " الآداب تعطي حياة " بتاريخ 15 مارس 2017م .

</div>

</div>
