<div class="s-cont-container">
  <div class="s-cont-title">
    <h2>
      المتحدثون الرئيسيون
    </h2>
  </div>
</div>
<div class="speakers-container">
  <!-- <div class="s-cont-title">
      <h2>المتحدثون الرئيسيون</h2>
    </div> -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        سعادة الدكتور/ خالد بن سالم السعيدي
      </span>
      <span>
        أمين عام مجلس الدولة
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp8.jpg">
    </div>

  </div>
  <!-- ................................................. -->
    <div class="speakers-details">
      <div class="sinfo">
        <span>
          أ.د جنان خوري
        </span>
        <span>رئيسة القسم الحقوقي بمركز المعلوماتية القانونية -الجامعة اللبنانية</span>

      </div>
      <div class="simg">
        <img src="../../assets/images/speakers/sp2.jpg">
      </div>

    </div>
  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        د.منى الأشقر
      </span>
      <span>
        استاذ محاضر وباحث رئيسة الجمعية اللبنانية لتكنولوجيا المعلومات
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp10.jpg">
    </div>

  </div>
  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        د.راشد بن حمد البلوشي
      </span>
      <span>
        عميد كلية الحقوق - جامعة السلطان قابوس
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp4.jpg">
    </div>

  </div>
  <!-- ................................................. -->
  <div class="speakers-details">

    <div class="sinfo">
      <span>
        د.خليل خير الله
      </span>
      <span>
        أستاذ محاضر - كلية الحقوق والعلوم السياسية والإدارية - الجامعة اللبنانية

      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp9.jpg">
    </div>

  </div>
  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        د.يونس عرب
      </span>
      <span>
        خبير قانوني ومحكم دولي المملكة الأردنية الهاشمية
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp11.png">
    </div>

  </div>
  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        د.حافظ بن إبراهيم الشحي
      </span>
      <span>
        أستاذ مساعد بكلية الاقتصاد العلوم السياسية - جامعة السلطان قابوس
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp1.jpg">
    </div>

  </div>
  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        د.بدر المنذري
      </span>
      <span>
        مدير عام قطاع أمن المعلومات - هيئة تقنية المعلومات
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp6.jpg">
    </div>

  </div>
  <!-- ................................................. -->
  <div class="speakers-details">

    <div class="sinfo">
      <span>
        د.حسين بن سعيد الغافري
      </span>
      <span>
        محام ومحكم دولي
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp7.jpg">
    </div>

  </div>
  <!-- ................................................. -->

  <div class="speakers-details">
    <div class="sinfo">
      <span>
        د.أنطوان الفغالي
      </span>
      <span>
        الرئيس التنفيذي شركة بوتيك للأستشارات
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp12.jpg">
    </div>
  </div>

  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        الدكتور / ياسر العصيفير
      </span>
      <span>
        مستشار أمني في أمن الأنترنت و الحرف الألكترونيه المملكه العربية السعوديه
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/spk14.jpeg">
    </div>
  </div>
  <!-- ................................................. -->

  <div class="speakers-details">
    <div class="sinfo">
      <span>
        المهندس/عادل عبدالمنعم
      </span>
      <span>
        خبير الأمن السيبراني والأدلة الرقمية بالاتحاد الدولي للاتصالات - جمهورية مصر العربية
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp13.jpg">
    </div>
  </div>
  <!-- ................................................. -->
  <div class="speakers-details">
    <div class="sinfo">
      <span>
        أ.سليمان بن سيف الكندي
      </span>
      <span>
        مدير عام تقنية المعلومات - وزارة التربية والتعليم
      </span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp3.jpg">
    </div>

  </div>

  <!-- ................................................. -->

  <div class="speakers-details">
    <div class="sinfo">
      <span>جودي حرب</span>
      <span>مدير وحدة استراتيجيه الأنترنت و مرونه اعمال و شركه بوتيك للأ ستسشارات</span>
    </div>
    <div class="simg">
      <img src="../../assets/images/speakers/sp5.jpg">
    </div>

  </div>
  <!-- ................................................. -->
</div>

