/* speakers */

.speakers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.speakers-container {
  margin-top: 2rem;
  padding-top: 2rem;
  /* border-top:1px solid #e2e3e7; */
}

.s-cont-container {
  margin-top: 4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.s-cont-container .s-cont-title {
  position: absolute;
  right: 0;
  top: 3px;
  background-color: #1893DA;
  min-width: 12rem;
}

.s-cont-container .s-cont-title h2 {
  color: #fff;
  font-size: 1.6rem;
  padding: 0 1rem;
}

.speakers-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 9rem;
}

.speakers-details .sinfo {
  padding: 1rem;
  background-color: #f1f1f1;
  text-align:right;

}

.speakers-details .sinfo span:nth-child(1) {
  display:inline-block;
  font-weight:bold;
  color:#1893DA;
}


.speakers-details .sinfo span:nth-child(2) {
display:inline-block;
}

.speakers-details .simg img {
  max-width: 100%;
  max-height: 100%;
}

/* .speakers-details .simg img {
  min-width: 3rem;
  min-height: 3rem;
} */

/* media queries */

@media only screen and (min-width: 736px) {
  .speakers-container {
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
  }
  .speakers-details .sinfo{
font-size:1rem;

  }
.s-cont-container .s-cont-title {
  position: absolute;
  right: 0;
  top: -10px;
  background-color: #1893DA;
  min-width: 1rem;
}

.s-cont-container .s-cont-title h2 {
  color: #fff;
  font-size: 1.2rem;
}

}


@media only screen and (min-width: 400px) and (max-width: 735.97px) {
  .speakers-container {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .speakers-details .sinfo {
    font-size: 1rem;
  }
.s-cont-container .s-cont-title {
  position: absolute;
  right: 0;
  top: -10px;
  background-color: #1893DA;
  min-width: 1.1rem;
}

.s-cont-container .s-cont-title h2 {
  color: #fff;
  font-size: 1.2rem;
}


}

@media only screen and (max-width: 399.97px){
  .speakers-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
.s-cont-container .s-cont-title {
  position: absolute;
  right: 0;
  top: -10px;
  background-color: #1893DA;
  min-width: 1rem;
}

.s-cont-container .s-cont-title h2 {
  color: #fff;
  font-size: 1.2rem;

}

}



