<div class="s-cont-container">
  <div class="s-cont-title">
    <h2>
      المتحدثون الرئيسيون
    </h2>
  </div>
</div>
<div class="speakers-container">
  <!-- <div class="s-cont-title">
      <h2>المتحدثون الرئيسيون</h2>
    </div> -->

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk1.jpg">
    </div>
    <div class="sinfo">
      <span>Tina Roth Eisenberg</span>
      <span>CEO & Founder</span>
      <span>Tattly & CreativeMorings</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk2.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk3.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk4.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk5.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk6.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk7.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

  <div class="speakers-details">
    <div class="simg">
      <img src="../../assets/images/speakers/spk8.jpg">
    </div>
    <div class="sinfo">
      <span>Speaker Name</span>
      <span>Speaker title</span>
      <span>Speaker job</span>
    </div>
  </div>

</div>
