<div id="prwork-contents" class="container contents">
  <div class="events-wrapper">
    <h2>قائمه الأعمال السابقه</h2>
    <hr>
    <!-- start of conf articles contents -->
    <div class="conf-art-contents">
      <div class="conf-art-active">
        <div class="img-wrapper">
          <img src="../../assets/images/ev12.jpg">
        </div>
<h3>أهمية تنمية الوعي المجتمعي نحو بيئة تقنية آمنة </h3>

        <p>
 تحت رعاية سعادة عبدالله بن عقيل بن أحمد آل ابراهيم المستشار بمكتب وزير الدولة ومحافظ ظفار وبحضور الدكتور حسن بن سعيد كشوب
رئيس جامعة ظفار ومجموعة من المشايخ والأعيان والأساتذة والضباط والمهتمين ، وذلك تواكبا مع تزايد الكتابات المسيئة من خلال المنتديات
ووسائل الاتصال المختلفة في شبكة المعلومات العالمية "الانترنت" ومارافقها من اصدار لتشريعات وقوانين تحد من تفاقم هذه المشكلة.
وقد هدفت الندوة من خلال اقامتها الى مجموعة من الاهداف الهامة كتثقيف المجتمع بأهمية الوعي التكنولوجي ومعرفة الوضع القانوني
في تجريم الكتابات الالكترونية ، هذا بالاضافة إلى ابراز خطورة هذه الأفعال على المجتمع، وذلك من خلال ثلاثة محاور وهي المحور
الاجتماعي والمحور الإلكتروني والمحور القانوني .


        </p>

      </div>
      <div class="conf-art-lst">
        <ul>
          <li>
            <img class="img-ls" src="../../assets/images/ev3.jpg">
            <h4>الحملة الوطنية لمخاطر تقنية المعلومات</h4>

          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev4.jpg">
            <h4>مؤتمر التجارة الأول</h4>

          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev5.jpg">
            <h4>مؤتمر التجارة الثاني</h4>

          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev6.jpg">
            <h4>مؤتمر التجارة الثالث</h4>

          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev7.jpg">
            <h4>مؤتمر التجارة الرابع</h4>

          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev8.jpg">
            <h4>ندوة الشباب وريادة الأعمال</h4>

          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev9.jpg">
            <h4>ندوة حماية المستهلك</h4>


          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev10.jpg">
            <h4>ندوة مجلس الشورى</h4>


          </li>
          <li>
            <img class="img-ls" src="../../assets/images/ev11.jpg">
            <h4>ندوة ريسوت الاقتصاد والتنمية</h4>


          </li>

        </ul>
      </div>
    </div>

    <hr>


    <!-- start of conf videos contents -->
     <!--<hr>
     <div class="conf-video-contents">
      <div class="conf-video-contents">
        <div class="conf-video-active">
          <div class="video-wrapper">
            <img src="../../assets/images/ev2.jpg">
          </div>
          <h3>video Title</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quibusdam, aliquid veritatis neque deleniti sint consectetur
            quae magnam sit distinctio nam fuga inventore harum. Iste molestiae omnis minima obcaecati quas.
          </p>

        </div>
        <div class="conf-video-lst">
          <ul>
            <li>
              <img class="vd-ls" src="../../assets/images/ev2.jpg">
              <h4>video Title</h4>
            </li>
            <li>
              <img class="vd-ls" src="../../assets/images/ev2.jpg">
              <h4>video Title</h4>
            </li>
            <li>
              <img class="vd-ls" src="../../assets/images/ev2.jpg">
              <h4>video Title</h4>
            </li>
            <li>
              <img class="vd-ls" src="../../assets/images/ev2.jpg">
              <h4>video Title</h4>
            </li>
            <li>
              <img class="vd-ls" src="../../assets/images/ev2.jpg">
              <h4>this is just a test to test the width of the imat title</h4>
            </li>
            <li>
              <img class="vd-ls" src="../../assets/images/ev2.jpg">
              <h4>video Title</h4>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</div>

