<div class="conf-wrapper">
  <!-- the conf image -->
  <div class="conf-img">
    <img src="../assets/images/banner.jpg" class="img-responsive mainadv">
  </div>

  <!-- conf details -->
  <div class="conf-details">
    <div class="details-wrapper">

      <div class="news-cotnet">
          <a href="../assets/uploads/conf.pdf">
            <span style="font-weight:bold;color:#000">تنزيل ملف المؤتمر</span>
            <img src="../assets/images/pdf-icon4.png">
          </a>
      </div>
      <div class="reg-img">
        <img src="../assets/images/reg.png">
        <img src="../assets/images/reg2.png">

      </div>
  </div>
</div>
