<div class="row ">
  <div class="col-xs-12 col-md-12">
    <img src="../assets/images/banner.jpg" class="img-responsive mainadv">
  </div>
  <!-- <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
      </div>
    </div> -->
</div>
<div class="row conf-details">
  <div class="col-xs-12 col-md-6">
    <div class="row news-cotnet">
      <div class="col-xs-4">
        <a href="../assets/uploads/conf.pdf">
          <span style="font-weight:bold;color:#000">تنزيل ملف المؤتمر</span>
          <img src="../assets/images/pdf-icon4.png" style="width:8rem; padding:5px 0;">
        </a>
      </div>
      <div class="col-xs-4">
        <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg">
            <a href="#">News2 Title</a> -->
      </div>
      <div class="col-xs-4">
        <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg"> -->
        <!-- <a href="#">News3 Title</a> -->
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6" style="padding-top:5px;">
    <div class="col-xs-12 col-md-6">
      <img src="../assets/images/reg2.png" class="img-responsive mainadv">
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="../assets/images/reg.png" class="img-responsive mainadv">
    </div>
  </div>

</div>
