<div>
  <form>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_title" required placehoder="post title" [(ngModel)]=" post.pst_title">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_type" required placehoder="post type" [(ngModel)]=" post.pst_type">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_adate" required placehoder="post date" [(ngModel)]=" post.pst_adate">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_author" required placehoder="post author" [(ngModel)]="post.pst_author">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_excerpt" required placehoder="post excerpt" [(ngModel)]="post.pst_excerpt">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="5" name="pst_data" [(ngModel)]="post.pst_data"></textarea>
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_img_title" required placehoder="post image title" [(ngModel)]="post.pst_img_title">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_img" required placehoder="post image" [(ngModel)]="post.pst_img">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" name="pst_status" required placehoder="status" [(ngModel)]=" post.pst_status">
    </div>
  </form>
</div>