<div id="maincontents" class="container contents">
  <!-- Start of Nav Bar -->
  <div class="row">
    <div class="col-md-9">
      <nav class="navbar">
        <div class="container">

        </div>
      </nav>
    </div>
    <div class="col-md-3">
        <img src="../assets/images/title.png" style="width:250px;">
    </div>
  </div>
<!-- End of Nav Bar -->

<!-- Start of Main Content Area -->
  <div class="row ">
    <div class="col-xs-12 col-md-12">
      <img src="../assets/images/banner.jpg" class="img-responsive mainadv">
    </div>
    <!-- <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row news-cotnet">
        <div class="col-xs-4">
            <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg">
            <a href="#">News1 Title</a> -->
        </div>
        <div class="col-xs-4">
            <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg">
            <a href="#">News2 Title</a> -->
        </div>
        <div class="col-xs-4">
            <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg"> -->
            <!-- <a href="#">News3 Title</a> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="col-xs-12 col-md-6">
          <img src="../assets/images/reg2.png" class="img-responsive mainadv">
      </div>
      <div class="col-xs-12 col-md-6">
          <img src="../assets/images/reg.png" class="img-responsive mainadv">
      </div>
      
    </div>
  </div>

</div>
