<div id="maincontents" class="container contents">
  <!-- Start of Nav Bar -->
  <div class="row">
    <div class="col-md-9">
      <nav class="navbar">
        <div class="container">
        </div>
      </nav>
    </div>
    <div class="col-md-3">
      <img src="../assets/images/title.png" style="width:250px;">
    </div>
  </div>
  <!-- End of Nav Bar -->

  <!-- Start of Main Content Area -->
  <div class="row ">
    <div class="col-xs-12 col-md-12">
      <img src="../assets/images/banner.jpg" class="img-responsive mainadv">
    </div>
    <!-- <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row news-cotnet">
        <div class="col-xs-4">
          <a href="../assets/uploads/conf.pdf">
            <span style="font-weight:bold;color:#000">تنزيل ملف المؤتمر</span>
            <img src="../assets/images/pdf-icon4.png" style="width:8rem; padding:5px 0;">
          </a>
        </div>
        <div class="col-xs-4">
          <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg">
            <a href="#">News2 Title</a> -->
        </div>
        <div class="col-xs-4">
          <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg"> -->
          <!-- <a href="#">News3 Title</a> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" style="padding-top:5px;">
      <div class="col-xs-12 col-md-6">
        <img src="../assets/images/reg2.png" class="img-responsive mainadv">
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="../assets/images/reg.png" class="img-responsive mainadv">
      </div>
    </div>
  </div>
  <!-- speakers -->
  <div class="speakers-container">
    <div class="s-cont-title">
<h2>المتحدثون الرئيسيون</h2>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="http://pipsum.com/150x150.jpg">
      </div>
      <div class="sinfo">
        <span>Tina Roth Eisenberg</span>
        <span>CEO & Founder</span>
        <span>Tattly & CreativeMorings</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="http://pipsum.com/150x150.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="http://pipsum.com/150x150.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="http://pipsum.com/150x150.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="http://pipsum.com/150x150.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

  </div>
  <!-- previous work -->
  <div class="ourwork">
  <div class="pre-work-events">
    <h2>أعمالنا السابقه</h2>
  </div>
    <div class="work-container">
      <div class="work-details">
        <img src="../../assets/images/subscribe-bg.jpg">
        <p>
          <a href="">work title</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
        <img src="../../assets/images/ev1.jpg">
        <p>
          <a href="">work title</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
      <img src="../../assets/images/ev2.jpg">
        <p>
          <a href="">work title</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
        <img src="">
        <p>
          <a href="">work title</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
        <img src="">
        <p>
          <a href="">work title</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
        <img src="">
        <p>
          <a href="">work title</a>
        </p>
      </div>
    </div>

  </div>
</div>
