<div id="maincontents" class="container contents">
  <!-- Start of Nav Bar -->
  <div class="row">
    <div class="col-md-9">
      <nav class="navbar">
        <div class="container">
        </div>
      </nav>
    </div>
    <div class="col-md-3">
      <img src="../assets/images/title.png" style="width:250px;">
    </div>
  </div>
  <!-- End of Nav Bar -->

  <!-- Start of Main Content Area -->
  <div class="row ">
    <div class="col-xs-12 col-md-12">
      <img src="../assets/images/banner.jpg" class="img-responsive mainadv">
    </div>
    <!-- <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
        <div class="col-xs-12 col-md-6">
            <img  src="https://placeimg.com/640/480/tech" class="img-responsive subadv">
        </div>
      </div>
    </div> -->
  </div>
  <div class="row conf-details">
    <div class="col-xs-12 col-md-6">
      <div class="row news-cotnet">
        <div class="col-xs-4">
          <a href="../assets/uploads/conf.pdf">
            <span style="font-weight:bold;color:#000">تنزيل ملف المؤتمر</span>
            <img src="../assets/images/pdf-icon4.png" style="width:8rem; padding:5px 0;">
          </a>
        </div>
        <div class="col-xs-4">
          <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg">
            <a href="#">News2 Title</a> -->
        </div>
        <div class="col-xs-4">
          <!-- <img  src="https://placeimg.com/640/480/tech" class="img-responsive newsimg"> -->
          <!-- <a href="#">News3 Title</a> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" style="padding-top:5px;">
      <div class="col-xs-12 col-md-6">
        <img src="../assets/images/reg2.png" class="img-responsive mainadv">
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="../assets/images/reg.png" class="img-responsive mainadv">
      </div>
    </div>

  </div>
  <!-- speakers -->
  <div class="s-cont-container">
    <div class="s-cont-title">
      <h2>
         المتحدثون الرئيسيون
      </h2>
    </div>
  </div>
  <div class="speakers-container">
    <!-- <div class="s-cont-title">
      <h2>المتحدثون الرئيسيون</h2>
    </div> -->

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk1.jpg">
      </div>
      <div class="sinfo">
        <span>Tina Roth Eisenberg</span>
        <span>CEO & Founder</span>
        <span>Tattly & CreativeMorings</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk2.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk3.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk4.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk5.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk6.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk7.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

    <div class="speakers-details">
      <div class="simg">
        <img src="../../assets/images/speakers/spk8.jpg">
      </div>
      <div class="sinfo">
        <span>Speaker Name</span>
        <span>Speaker title</span>
        <span>Speaker job</span>
      </div>
    </div>

  </div>
  <!-- previous work -->
  <div class="pre-work-container">
    <div class="pre-work-title">
      <h2>أعمالنا السابقه</h2>
    </div>
  </div>
  <div class="ourwork">
    <!-- <div class="pre-work-events">
      <h2>أعمالنا السابقه</h2>
      <p>قائمه بالندوات و المؤتمرات التي أقمنها خلال الفترات السابقة و التي لاقت نجاح كبير و أستضفنها فيها مختلف الجهات الحكومية
        و المتخصصة من داخل السلطنة و من خارجها</p>
    </div> -->
    <div class="work-container">
      <div class="work-details">
        <img class="w-img" src="../../assets/images/wr1.jpg">
        <p>
          <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
        <img class="w-img" src="../../assets/images/wr2.jpg">
        <p>
          <a href="">ندوه الشباب و رياده الاعمال</a>
        </p>
      </div>
    </div>

    <div class="work-container">
      <div class="work-details">
        <img class="w-img" src="../../assets/images/wr3.jpg">
        <p>
          <a href="">ندوه حمايه المستهلك</a>
        </p>
      </div>
    </div>
  </div>

  <!--Previous Attendees -->
<!-- previous work -->
<div class="pre-attendees-container">
  <div class="pre-attendees-title">
    <h2>
      الجهات التي شاركت في الندوات و المؤتمرات
    </h2>
  </div>
</div>
<div class="our-attendees">
  <!-- <div class="pre-work-events">
      <h2>أعمالنا السابقه</h2>
      <p>قائمه بالندوات و المؤتمرات التي أقمنها خلال الفترات السابقة و التي لاقت نجاح كبير و أستضفنها فيها مختلف الجهات الحكومية
        و المتخصصة من داخل السلطنة و من خارجها</p>
    </div> -->
  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo1.jpg">
      <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo2.jpg">

    </div>
  </div>

  <div class="attendees-container">
    <div class="attendees-details">
      <img class="at-img" src="../../assets/images/attendees/logo4.jpg">

    </div>
  </div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo5.png">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo6.jpg">

  </div>
</div>

<!-- <div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo7.jpeg">

  </div>
</div> -->
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo11.jpg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo8.jpg">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo9.jpg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo10.jpg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo12.jpg">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo13.jpg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo14.png">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo15.jpg">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo16.jpeg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo17.jpg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo18.jpg">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo19.jpg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo20.jpg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo21.gif">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo22.jpg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo31.jpg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo24.jpg">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo25.jpg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo26.jpg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo32.gif">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo27.jpeg">

  </div>
</div>
<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo28.jpeg">
    <!-- <p>
        <a href="">الحملة الوطنية لمخاطر تقنية المعلومات</a>
      </p> -->
  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo29.jpg">

  </div>
</div>

<div class="attendees-container">
  <div class="attendees-details">
    <img class="at-img" src="../../assets/images/attendees/logo30.jpg">

  </div>
</div>

</div>



</div>
